footer{
	width: 100%;
	background-color: #00796B;
	color: white;
	min-height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
footer a{
	color: white;
	text-decoration: none;
}