<section class="container">
	<section class="main">
		<section class="questions">
			<mat-tab-group color="primary" (animationDone)="test()" (selectedIndexChange) = "test1()">
				<span *ngFor="let q of questions">
				  <mat-tab>
				  	<ng-template mat-tab-label class="tabtitle">
				      <b class="tabtitle">{{q.title}}</b>
				    </ng-template>
				  	<section class="question-content">
				  		<span class="theQuestion"><b>Question: </b><br> {{q.thequestion}}</span>
				  		<span class="theDescription">
				  			<b>Description : </b><br>
					  		{{q.description}}
				  		</span>
				  		<span class="solution-container">
				  			<b>Solutions : </b><br><br>
				  			<mat-tab-group class="theSolution" [(selectedIndex)]="theIndex">
								  <mat-tab label="C" class="c-tab"><pre><code highlight [code]="q.solution.c"></code></pre></mat-tab>
								  <mat-tab label="Java" class="java-tab"><pre><code highlight [code]="q.solution.java"></code></pre></mat-tab>
								</mat-tab-group>
				  		</span>
				  	</section>
				  </mat-tab>
				</span>
			</mat-tab-group>
		</section>
	</section>
</section>